html, body {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

textarea.url-text-field {
    resize: none;
    font-family: 'Courier New', Courier, monospace
}

div.row-no-gutters {
    margin-left: 0;
    margin-right: 0;
    gap: 10px;
}

div.col-no-gutters {
    padding-left: 0;
    padding-right: 0;
}

span.status-info {
    color: black;
}

span.status-error {
    color: red;
}

span.status-success {
    color: green;
}

i.icon {
    margin-right: 5px;
}